[submodule "high-level-system-4wd-mecanum"]
	path = high-level-system-4wd-mecanum
	url = git@github.com:autonomous-embedded/high-level-system-4wd-mecanum.git
[submodule "low-level-system-4wd-mecanum"]
	path = low-level-system-4wd-mecanum
	url = git@github.com:autonomous-embedded/low-level-system-4wd-mecanum.git
[submodule "tests"]
	path = tests
	url = git@github.com:autonomous-embedded/tests.git
